doctype html
html
    head
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
        script(src="http://code.jquery.com/jquery-latest.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
    body
        table(class="table table-striped")
            thead
                tr
                    th 제목
                    th 작성자
                    th 날짜
            tbody
                tr
                    td= board.title
                    th= board.name
                    -if(board.updateTime)
                                th= board.updateTime
                            -else
                                th= board.createTime

        table(class="table table-striped")
            thead
                tr
                    th 본문
                td= board.text
        hr
        div(align="right")      
            a(class="btn btn-outline-dark" href="/delete/"+`${board.id}`) 삭제
            a(class="btn btn-outline-dark" href="/") 뒤로가기
            a(class="btn btn-outline-dark" href="/update/"+`${board.id}`) 수정하기
