doctype html
html
    head
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
        script(src="http://code.jquery.com/jquery-latest.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
    //main
    body
        table(class="table table-striped")
            thead
                tr
                    th 번호
                    th 제목
                    th 작성자
                    th 날짜
            tbody 
                mixin board(board)
                    each data in board
                        -if(data.id =='D')
                            -var tmp_color ='pink'
                            -var tmp_time= data.deleteTime
                        -else
                            -var tmp_color = "none"
                            -if(data.updateTime)
                                -var tmp_time= data.updateTime
                            -else
                                -var tmp_time= data.createTime
                        tr(style=`background-color:${tmp_color}` onclick=`location.href='/main/${data.id}'`)
                            td= data.id
                            td= data.title
                            th= data.name
                            th #{tmp_time}
                +board(board)
    
        hr 
        div(align="right")
            form(action="/search" method="post")
                select(id="box" name="search")
                    option --선택--
                    option(label="제목" value="title")   
                    option(label="작성자" value="name") 
                    input(type="text" name="text")
                    button#btnSave.btn.btn-sm.btn-primary(type="submit")  검색
    
                a(class="btn btn-outline-dark" href="/create") 글쓰기
        nav(aria-label="Page navigation example")
            ul(class="pagination justify-content-center")
                -for(var i=0; i<page_num; i++)
                    a(class="page-link" href=`/page/${i+1}`)
                        li(class="page-item")= i+1